body {
    color: rgb(216, 216, 216);
}

.navbar {
    background-color: rgb(53, 157, 255);
    height: 50px;
    color: white;
    text-decoration: none;
}

.container-fluid,
.text-center {
    background-color: rgb(17, 95, 185);
}

.container-fluid {
    height: 60px;
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
}

.simple {
    border-bottom: none;
    color: rgb(167, 164, 164);
}

a {
    text-decoration: none;
}
/* .product-viewtag {
    background-color: red;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 22px;
    margin-left: 17.5rem;
    padding: 7px 10px;
    font-weight: 45px;
} */