<!-- Profile Picture -->
<div class="input-group mb-3" style="margin-top:10px;">
    <label class="input-group-text" for="inputGroupFile02">Select profile picture</label>
    <input type="file" class="form-control" id="inputGroupFile02" name="myFile" style="padding-top: 12px;">
</div>


<!-- Address -->
<div class="form-input"> <input type="text" class="form-control" name="add" placeholder="Address" pattern="{2,}"> </div>
<div class="form-input"> <input type="text" class="form-control" name="city" placeholder="City" pattern="{2,}"> </div>
<div class="form-input"> <input type="text" class="form-control" name="state" placeholder="State" pattern="{2,}"> </div>
<div class="form-input"> <input type="text" class="form-control" name="country" placeholder="Country" pattern="{2,}"> </div>

<!-- About  -->
<div class="form-input"> <input type="text" class="form-control" name="about" placeholder="About" pattern="{2,}"> </div>


<!-- Gender -->
<div class="form-input">
    <select class="form-select" name="gender" style="height: 50px; padding-left: 33px;" aria-label="Default select example">
    <option selected value="">Select Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select>
</div>


 <!-- BDate -->
 <div class="form-input">
    <input type="date" class="form-control" id="birthday" placeholder="Select BirthDate" name="bDate">
    <!-- <label for="birthday">Birthday:</label> -->
</div>


<!-- dateOfJoinning -->
<div class="form-input">
    <input type="date" class="form-control" id="JoinDAte" placeholder="Select Joining date" name="joiningDate">
    <label for="birthday">Date of joinning:</label>
</div>

<!-- Job title -->
<div class="form-input"> <input type="text" class="form-control" name="jobTitle" placeholder="About" pattern="{2,}"> </div>


<!-- Department -->
<div class="form-input">
    <select class="form-select" name="dep" style="height: 50px; padding-left: 33px;" aria-label="Default select example">
    <option selected value="">Select Department</option>
    <option value="One">1</option>
    <option value="Two">2</option>
    <option value="Three">3</option>
  </select>
</div>

<!-- Job type -->
<div class="form-input">
    <select class="form-select" name="jobType" style="height: 50px; padding-left: 33px;" aria-label="Default select example">
        <option selected value="">Select Job type</option>
        <option value="One">1</option>
        <option value="Two">2</option>
        <option value="Three">3</option>
  </select>
</div>

<!-- Position -->
<div class="form-input">
    <select class="form-select" name="position" style="height: 50px; padding-left: 33px;" aria-label="Default select example">
        <option selected value="">Select Position</option>
        <option value="One">1</option>
        <option value="Two">2</option>
        <option value="Three">3</option>
  </select>
</div>


<!-- Shift type -->
<div class="form-input">
    <select class="form-select" name="shift" style="height: 50px; padding-left: 33px;" aria-label="Default select example">
        <option selected value="">Select Shift</option>
        <option value="One">1</option>
        <option value="Two">2</option>
        <option value="Three">3</option>
  </select>
</div>


 <!-- Country -->
 <div class="form-input">
    <select class="form-select" name="code" style="width:200px; height: 50px; padding-left: 33px;" aria-label="Default select example">
    <option selected>Select Country Code</option>
    <option value="Male">India +91</option>
    <option value="Female">USA +1</option>
    <option value="Other">Pakistan +92</option>
  </select>
</div>


<!-- Work Type -->
<div class="form-input">
    <select class="form-select" name="workType" style="height: 50px; padding-left: 33px;" aria-label="Default select example">
        <option selected value="">Select Work type</option>
        <option value="One">1</option>
        <option value="Two">2</option>
        <option value="Three">3</option>
  </select>
</div>