{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock head %}

{% block body %}

<div class="container my-4">
    <img src="..." class="img-thumbnail" alt="...">
    <div class="card mb-3 text-white bg-dark" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ userData.image }}" class="img-fluid rounded-start" alt="{{ userData.image }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ userData.firstName }} {{ userData.lastName }}</h5>
              <p class="card-text">{{ userData.email }} <br>{{ userData.mNo }} <br>{{ userData.address }} </p>
              <!-- <p class="card-text">{{ userData.mNo }}</p> -->
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <h5>Upload your profiel photo</h5>
        {% if upload %}
        <div class="input-group mb-3">
            <form action="{% url 'uploading' %}" method="post">
                {% csrf_token %}
            <input type="file" class="form-control bg-dark text-white" name="image" id="inputGroupFile02">
            <!-- <label class="input-group-text" for="file">Upload</label> -->
          </div>
          <p>
          <a href="{% url 'profile'%}" role="button" class="btn btn-dark popover-test" title="Popover title" data-bs-content="Popover body content is set in this attribute.">Cancle</a>
         <button type="submit" role="button" class="btn btn-info popover-test">Upload</button>
        </p>
        <hr>
    </form>
        {% else %}
        <p> <a href="{% url 'uploadProfile' %}" role="button" class="btn btn-dark popover-test" title="Popover title" data-bs-content="Popover body content is set in this attribute.">Upload</a></p>
        <hr>
        {% endif %}
      </div>


      
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-6 col-md-4">Emp. No: </div>
            <div class="col-6 col-md-4">Date of birth: </div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
          </div>
      
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
          <div class="col-6 col-md-4">.col-6 .col-md-4</div>
          <div class="col-6 col-md-4">.col-6 .col-md-4</div>
          <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        </div>
      
        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
          <div class="col-6">.col-6</div>
          <div class="col-6">.col-6</div>
        </div>
      
    

</div>


{{ userData.city }}
{{ userData.state }}
{{ userData.country }}
{{ userData.empNo }}
{{ userData.about }}
{{ userData.birthDate }}
{{ userData.dateOfJoining }}
{{ userData.jonTittle }}
{{ userData.position }}
{{ userData.department }}
{{ userData.workTye }}
{{ userData.jobType }}
{{ userData.shift }}
{% endblock body %}